.search{
    position: relative;    
      
    }
   
    .search .bi-eye-slash-fill{
     position: absolute;
     top: 7px;
     right: 12px;
    }   

    input{
        font-size: 0.9em;
    }
   